<!DOCTYPE html>
<html>
<head>
	<title>maplebot back at it</title>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<style>
	@media (min-width: 1280px) {
    .container{
        max-width: 1500px;
        width: 1440px;
	    }
	}
	</style>
	<script>
		var dataSet2 = [];
		var deckData = [];
		{% if user %}
    	{% for card in collection %}
    		//dataSet.push([ {{ card.amount }}, "{{ card.name }}", "{{ card.set }}", "{{ card.type }}", "{{ card.rarity }}", "{{ card.color }}" ])
    		//console.log("{{ card.name }}","{{ card.set }}")

    		//build combined printings array
    		var foundit = false
    		for (var i = dataSet2.length - 1; i >= 0; i--) {
    			if (dataSet2[i][1] == "{{ card.name }}"){
    				dataSet2[i][0] += {{ card.amount }}
    			    foundit = true
    			    if( $.inArray("{{ card.set }}", dataSet2[i][2]) < 0)
    			    	dataSet2[i][2].push("{{ card.set }}")
    			}    
         	}
         	if (!foundit) {
         		dataSet2.push([ {{ card.amount }}, "{{ card.name }}", ["{{ card.set }}"], "{{ card.type }}", "{{ card.rarity }}", "{{ card.color }}", {{ card.multiverseid }}, {{ card.cmc }},"{{ card.date }}" ])
         	}
         {% endfor %}

    	
		$(document).ready(function() {
			
			var updatedeckheader = function(){
				var total = 0
				for (var i = deckData.length - 1; i >= 0; i--) {
					total += deckData[i][0]
				}
				$('#deckheader').html("Decklist (" + total + " cards)"  );
			};
		    var table = $('#collection').DataTable( {
		    	searching: true,
		    	dom: 'Bf1rtip',
		        buttons: [
        			{ text: "Add to Deck", action: function ( e, dt, node, config ) {
        				var daRows = table.rows( {selected: true} );
        				var items = daRows.data();
        				//deep copy that fukken data fuck you
        				for (var i = items.length - 1; i >= 0; i--) {
        					if (items[i][0] > 0){
        						var clonedItem = Object.assign({}, items[i])
        						var foundit = false;
        						for (var c = deckData.length - 1; c >= 0; c--) {
        							if (clonedItem[6] == deckData[c][6]){ 
        								foundit = true;
        								if (deckData[c][0] < clonedItem[0]){
        									deckData[c][0] += 1
        									
        								}
        							}

        						}
        						if (!foundit){
        							clonedItem[0] = 1;
        							deckData.push(clonedItem);
        						}
        						//items[i][0] = items[i][0] - 1;
        					}
        				}

        				//work around for now
        				//$('#collection').dataTable().fnClearTable();
						//$('#collection').dataTable().fnAddData(dataSet2);
						$('#decklist').dataTable().fnClearTable();
						$('#decklist').dataTable().fnAddData(deckData);
						updatedeckheader();						

        			}},
        			{ text: "Donate to Maple (thank u)", action: function ( e, dt, node, config ) {return}}
    			],
		        data: dataSet2,
		        select: true,
		        columns: [
		            { title: "#" },
		            { title: "Name" },
		            { title: "Set" },
		            { title: "Type" },
		            { title: "Rarity" },
		            { title: "Color"},
		            { title: "MVerse ID"},
		            { title: "CMC"},
		            { title: "Last Obtained", "bSearchable": false}],
		        rowId: "MVerse ID",
		        "columnDefs": [
            		{
                	"targets": [ 6 ],
                	"visible": false  
            		}]
		    } );
		    var table2 = $('#decklist').DataTable( {
		    	searching: true,
		    	dom: 'Bflrtip',
		        buttons: [
        			{ text: "Remove (single)", action: function ( e, dt, node, config ) {
        				var daRows = table2.rows( {selected: true} );
        				var items = daRows.data();
        				for (var i = items.length - 1; i >= 0; i--) {
        					items[i][0] = items[i][0] - 1;
        					if (items[i][0] < 1){
        						index = deckData.indexOf(items[i][6]);
        						deckData.splice(index, 1);
        					}
        				}
        				$('#collection').dataTable().fnClearTable();
						$('#collection').dataTable().fnAddData(dataSet2);
						$('#decklist').dataTable().fnClearTable();
						if (deckData.length > 0)
							$('#decklist').dataTable().fnAddData(deckData);
						updatedeckheader();	
        			}},
        			{ text: "Remove (all)", action: function ( e, dt, node, config ) {
        				var daRows = table2.rows( {selected: true} );
        				var items = daRows.data();
        				for (var i = items.length - 1; i >= 0; i--) {
        					index = deckData.indexOf(items[i][6]);
        					deckData.splice(index, 1);       				
        				}
        				$('#collection').dataTable().fnClearTable();
						$('#collection').dataTable().fnAddData(dataSet2);
						$('#decklist').dataTable().fnClearTable();
						if (deckData.length > 0)
							$('#decklist').dataTable().fnAddData(deckData);
						updatedeckheader();	
        			}},
        			{ text: "Export", action: function ( e, dt, node, config ) {
        				var outstring = ""
        				for (var i = deckData.length - 1; i >= 0; i--) {
        					outstring += deckData[i][0] + " " + deckData[i][1] + "<br />";
        				}
        				$('#exportedDeckList').html(outstring);
        				$("#dialog").dialog('open');
        			}}
    			],
		        data: deckData,
		        select: true,
		        columns: [
		            { title: "#" },
		            { title: "Name" },
		            { title: "Set" },
		            { title: "Type" },
		            { title: "Rarity" },
		            { title: "Color"},
		            { title: "MVerse ID"},
		            { title: "CMC"},
		            { title: "Last Obtained", "bSearchable": false}],

		         "columnDefs": [
            	{
                "targets": [ 6 ],
                "visible": false  
            	}]
		    } );
		    $('#collection tbody').on('click', 'tr', function () {
        		var data = table.row( this ).data();
        		if (data[6] > 0)
        			$("#img-card").attr("src","https://api.scryfall.com/cards/multiverse/" + encodeURIComponent(data[6]) + "?format=image&version=normal");
        		else
        			$("#img-card").attr("src","https://api.scryfall.com/cards/named?fuzzy=!" + encodeURIComponent(data[1]) + "!&format=image&version=normal");
    		} );
    		$('#decklist tbody').on('click', 'tr', function () {
        		var data = table2.row( this ).data();
        		if (data[6] > 0)
        			$("#img-card").attr("src","https://api.scryfall.com/cards/multiverse/" + encodeURIComponent(data[6]) + "?format=image&version=normal");
        		else
        			$("#img-card").attr("src","https://api.scryfall.com/cards/named?fuzzy=!" + encodeURIComponent(data[1]) + "!&format=image&version=normal");
    		} );

    		/*addbtn.addEventListener('click',function(event){
				var items = table.rows( {selected: true} ).data();
				});*/
			$("#dialog").dialog();
		    $("#dialog").dialog('close');
		    {% endif %}
			
    	});
	</script>
</head>
<body>
	<div class="container">
		{% if user %}
		<div class="row">
			<div class="col-md-12">
				<h2>{{ user[1] }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<table id="collection" class="display"></table>
			</div>
			<div class="col-md-4">
				<img id="img-card" style="max-height: 500px" src="https://i.imgur.com/tctVXhW.jpg">
			</div>
		</div>
		<div class="row" style="margin-top: 25px;">
			<div class="col-md-12">
				<h3 id="deckheader">Decklist (0 cards)</h3>
				<table id="decklist" class="display"></table>
			</div>
		</div>
		{% else %}
		<h1>back at it again</h1>
		{% endif %}
	</div>
	<div id="dialog" title="deck list" style="background-color: white;">
	  	<p id="exportedDeckList"></p>
	</div>
</body>
</html>