<!DOCTYPE html>
<html>
<head>
	<title>maplebot back at it</title>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
	@media (min-width: 1200px) {
    .container{
        max-width: 1280px;
        width: 1280px;
	    }
	}
	</style>
	<script>
		var dataSet = []
		var dataSet2 = []
		{% if user %}
    	{% for card in collection %}
    		//dataSet.push([ {{ card.amount }}, "{{ card.name }}", "{{ card.set }}", "{{ card.type }}", "{{ card.rarity }}", "{{ card.color }}" ])
    		//console.log("{{ card.name }}","{{ card.set }}")

    		//build combined printings array
    		var foundit = false
    		for (var i = dataSet2.length - 1; i >= 0; i--) {
    			if (dataSet2[i][1] == "{{ card.name }}"){
    				dataSet2[i][0] += {{ card.amount }}
    			    foundit = true
    			    if( $.inArray("{{ card.set }}", dataSet2[i][2]) < 0)
    			    	dataSet2[i][2].push("{{ card.set }}")
    			}    
         	}
         	if (!foundit) {
         		dataSet2.push([ {{ card.amount }}, "{{ card.name }}", ["{{ card.set }}"], "{{ card.type }}", "{{ card.rarity }}", "{{ card.color }}", {{ card.multiverseid }}, {{ card.cmc }}, "{{ card.date }}" ])
         	}
         {% endfor %}

    	
		$(document).ready(function() {
		    var table = $('#collection').DataTable( {
		        data: dataSet2,
		        columns: [
		            { title: "#" },
		            { title: "Name" },
		            { title: "Set" },
		            { title: "Type" },
		            { title: "Rarity" },
		            { title: "Color"},
		            { title: "MVerse ID"},
		            { title: "CMC"},
		            { title: "Last Obtained", "bSearchable": false}],

		         "columnDefs": [
            	{
                "targets": [ 6 ],
                "visible": false  
            	}]
		    } );
		    $('#collection tbody').on('click', 'tr', function () {
        		var data = table.row( this ).data();
        		if (data[6] > 0)
        			$("#img-card").attr("src","https://api.scryfall.com/cards/multiverse/" + encodeURIComponent(data[6]) + "?format=image");
        		else
        			$("#img-card").attr("src","https://api.scryfall.com/cards/named?fuzzy=!" + encodeURIComponent(data[1]) + "!&format=image");
    		} );
		    {% endif %}
		} );
	</script>
</head>
<body>
	<div class="container">
		{% if user %}
		<div class="row">
			<div class="col-md-12">
				<h2>{{ user[1] }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<table id="collection" class="display"></table>
			</div>
			<div class="col-md-4">
				<img id="img-card" style="max-height: 600px; position: fixed" src="https://i.imgur.com/tctVXhW.jpg">
			</div>
		</div>
		{% else %}
		<h1>back at it again</h1>
		{% endif %}
	</div>
</body>
</html>